@media (max-width: 48rem) {
<<<<<<< HEAD
  .sidebar-container {
    @apply hx:fixed hx:pt-[calc(var(--navbar-height))] hx:top-0 hx:w-full hx:bottom-0 hx:z-[15] hx:overscroll-contain hx:bg-white hx:dark:bg-dark;
=======
  .hextra-sidebar-container {
    @apply hx:fixed hx:pt-[calc(var(--navbar-height)+var(--hextra-banner-height))] hx:top-0 hx:w-full hx:bottom-0 hx:z-[15] hx:overscroll-contain hx:bg-white hx:dark:bg-dark;
>>>>>>> 2cd534b (first2)
    transition: transform 0.4s cubic-bezier(0.52, 0.16, 0.04, 1);
    will-change: transform, opacity;
    contain: layout style;
    backface-visibility: hidden;
  }
}

<<<<<<< HEAD
.sidebar-container {
=======
.hextra-sidebar-container {
>>>>>>> 2cd534b (first2)
  li > div {
    @apply hx:h-0;
  }
  li.open > div {
    @apply hx:h-auto hx:pt-1;
  }
  li.open > a > span > svg > path {
    @apply hx:rotate-90;
  }
}
